.wrap{
    min-height: 1000px;
    background-color: #5dae42;
    display: block;
}
.text-wrap{
  width: 960px;
  margin: 0 auto;
  background-color: #f0f0f0;
  height: 100%;
  font-family: 'Microsoft Yahei';
  padding: 0 50px;
  padding-top: 40px;
  padding-bottom: 50px;
}
h1{
  line-height: 50px;
  text-align: center;
  width: 100%;
  font-weight: bold
}